*{
    margin: 0;
    padding: 0;
}
/* font link */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* primary-button */
.primary-button button{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}

/* nav bar style start */
nav{
    background-color: rgba(255, 144, 14, 0.10);
}
.nav{
   display: flex;
   justify-content: space-around;
  padding-top: 60px;
}
.manu-item{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-content: space-around;
   /* column-gap: 25px; */
   text-align: center;
}
.manu-item > li{
    list-style: none;
}
.manu-item  a{
    text-decoration: none;
    color:#424242;
    font-size: 1.12rem;
    font-weight: 400;
    padding: 10px 20px;
}
.manu-item a:hover{
    background-color: #FF900E;
    color: white;
}
.bennar-content{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin:5% auto;
    align-items: center;
    justify-content: center;
    gap: 15px;

}
.bennar-content h1{
    color:#131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.bennar-content p{
    color:#727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.bennar-img{
    width: 85%;
    margin: 0 auto;
    padding-bottom: 3%;
    
}
.bennar-img img{
    width: 100%;
}
/* nav bar style end */

/* Features section style strat */
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin: 5% auto;
}
.teme-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    
}
.img{
    width: 332;
    height: 332;
}
.features-content{
    width: 80%;
    margin: 10px auto;
}
.features-content h1{
font-size: 2.81rem;
font-weight: 700;
}
.grea{
    color: #727272;
}
.black{
    color: #131313;
}
.yellow{
    color: #FF900E;
}
.features-content p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}
/* features style end */
/* experience style start */
.experience{
    display: flex;
    margin:3%;
    align-items: center;
    justify-content: space-around;

}
.love-heading{
    border-left: 5px solid #FF900E;
    padding: 1%;
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}
.experience-content{
    width: 50%;
}
.card{
    width: 500px;
    height: 120px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 2%;
    padding: 2%;
    }
    .card h2{
        color: #131313;
        font-size: 1.25rem;
        font-weight: 600;
    }
    .card p{
        color: #727272;
    font-size: 1rem;
    }
    .experience-img{
        width: 50%;
    }
    .experience-img img{
        width: 100%;
    }
    .experience-img button{
        width: 258px;
        color: #FFF;
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        border-radius: 8px;
        background: #FF900E;
        border: none;
        padding: 25px 15px;
        position: relative;
        top: -100px;
        left: -80px;

    }
    .experience-img p{
        font-size: 25px;
        font-weight: 500;
    }
    
    

/*responsive style  start for small device */
@media only screen and (max-width: 688px) {
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .manu-item{
        /* grid-template-columns: repeat(2, 1fr); */
      
        padding: 5px;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
       
    }
    .teme-img{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .features-content{
        margin-top: 10%;
    }
    .experience{
        flex-direction: column-reverse;
        justify-items: self-start;
        align-items: self-start;
        margin-left:50px;
    }
    .experience-img{
        margin-left: 100px;
        margin-top: 50px;
    }
   
}
@media screen and (min-width: 688px) and (max-width: 992px ){
    .features{
        grid-template-columns: repeat(1, 1fr);
        gap: 1%;
    }
    .experience{
        flex-direction: column-reverse;
        justify-items: self-start;
        align-items: self-start;
        margin-left:100px;
    }
    .experience-img{
        margin-left: 100px;
        margin-top: 50px;
    }
}

